.button {
    cursor: pointer;
    background-color: #fff;
    color: #111;
    border-radius: 999px;
    padding: 10px 20px;
    text-transform: uppercase;
    border: 1px solid #ccc;

    &:hover {
        background-color: #eee;
    }
}

.button-wrap-false {
    white-space: nowrap;
}

.button-variant-primary {
    background: #2E8EFF;
    color: #fff;
    border: none;

    &:hover {
        background: #277bdc;
    }
}