@use '../../../assets/styles/mixins/fonts.scss' as fonts;

html, body, #root, .main-layout {
    margin: 0;
}

body {
    font-family: sans-serif;
	background: #032a53;
	color: #fff;
	font-size: 1rem;
	line-height: 1.5rem;
	
	@include fonts.body;
}

a {
	color: inherit;
}