@font-face {
    font-family: grotesk-body;
    src: url('../../../assets/fonts/american-grotesk/test-american-grotesk/TestAmericanGrotesk-Light.otf') format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: grotesk-bold-heading;
    src: url('../../../assets/fonts/american-grotesk/test-american-grotesk-compressed/TestAmericanGroteskCompressed-Black.otf') format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: grotesk-medium;
    src: url('../../../assets/fonts/american-grotesk/test-american-grotesk/TestAmericanGrotesk-Medium.otf') format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: grotesk-bold;
    src: url('../../../assets/fonts/american-grotesk/test-american-grotesk/TestAmericanGrotesk-Bold.otf') format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: grotesk-italic;
    src: url('../../../assets/fonts/american-grotesk/test-american-grotesk/TestAmericanGrotesk-Italic.otf') format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: grotesk-bold-italic;
    src: url('../../../assets/fonts/american-grotesk/test-american-grotesk/TestAmericanGrotesk-BoldItalic.otf') format("opentype");
    font-weight: normal;
    font-style: normal;
}